.Container{
    background-color: ghostwhite;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px;
    border-style: dashed;
    border-left:none ;
    border-right:none ;
    margin-top: 25px;
    margin-bottom: 25px;
}
.SectionsContainer{
    background-color:#26798e;
    display: flex;
    align-items: center;
    width: 85%;
    height: 85%;
}
.SectionsContainer section{
    border: 1px solid;
    height: 100%;
    width: 100%;
}
.Content{
    border: 1px solid;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.Content h1{
    color: white;
    font-size: 28px;
    font-weight: 700;
    width: 75%;
}
.Content p{
    color: rgb(209, 208, 208);
  width: 85%;
  margin-top: 5px;
  font-size: 11px;
}
.Pasos{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: #FFC172;
    background-image:url("../../public/img/img-2.png");
    background-repeat: no-repeat;
    background-size:379px;
    background-position:center ;
}
.Pasos span{
    color: white;
    font-size: 27px;
    font-weight: 800;
    margin-top: -5px;
    margin-left: 50px;
}
.Aux{
    height: 30px;
    border: 1px;
    border-style: dashed;
    border-left:none ;
    border-right:none ;
}