
.Container{
    position: fixed;
    height: 100vh;
    width: 100%;
    z-index: 120;
    top: 0;
    display: flex;
   justify-content: center;
   align-items: center;
 
}
.secondContainer{
    border: 1px solid rgb(0, 0, 0);
    border-radius: 10px;
    height: fit-content;
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content:center;

    overflow: hidden;
}
/* .Close{
    width: fit-content;
    color: rgb(0, 0, 0);
    border: none;
    background-color: transparent;
    font-size:20px;
    font-weight:600;
    float: right;
    font-family: "Open Sans", sans-serif;
    cursor: pointer;
} */

.secondContainer h1{   
    margin:0;
    margin-left: 15px;

}

.aux{
    display: flex;
    justify-content: center;
    align-items: center;

}
.aux section{
    border-bottom: 1px solid rgb(77, 77, 77);
    width: 100%;
    height: 0px;
}
.aux h5{
    margin-left:2px ;
    margin-right:2px ;
}
.inputsContainer{
  display: flex;
  padding: 5px;
  width: 90%;
  margin: 0 auto;
  margin-top: 10px;
  flex-direction: column;

}
.inputsContainer input{
    padding: 8px;
    border-radius:5px ;
    border: 1px solid;
}
.inputsContainer label{
 margin-left: 14px;
 font-weight: 600;
 font-size: 12px;
}
.loginButton{
    background-color:#f1d245 ;
    width: 60%;
    padding: 10px;
    margin: 0 auto;
    border: none;
   
    border-radius: 5px;
    font-size: 17px;
     cursor: pointer;
}
.loginButton:hover{
  background-color: #d3b638 ;;
}
.paswwordSection{
    display: flex;
    align-items: center;
}

.paswwordSection label{
    font-weight: 300;
    font-size: 15px;
    color: rgba(7, 4, 0, 0.719);
}
.paswwordSection input{
  width: 20px;
  height: 20px;
  cursor: pointer;
}
.paswwordSection span{
    font-weight: 300;
    font-size: 15px;
    color: rgba(7, 4, 0, 0.719);
    margin-left:10px ;
}
.googleButton{

 border: 1px solid;
 border-radius: 10px;
 height: 20%;
 width: 98%;
 margin: 0 auto;
 cursor: pointer;
}
.googleButton:hover{
    background-color: rgb(241, 241, 241);
}
.Registerbutton{
    width: 100%;
    height: 15%;
    border: none;
    cursor: pointer;
}
.Registerbutton:hover{
    background-color: #d3b638 ;;

}
.Modal{ 
 cursor: pointer; 
}
.Modal:hover{
    color: blue;
}
@media (max-width:500px){
    .Container{
        height: 100%;
        width: 100%;
        z-index: 40;
        top: 0;
    }
  
    
  .secondContainer{
   width: 80%;
   height: fit-content;
 
  }

  .secondContainer h1{
    margin: 0 auto;
    font-size:1.2rem;
  }
  .inputsContainer{

    height: fit-content;
    max-height: 65vh;
  }
  .inputsContainer label{
    font-size: 3vw;
    font-weight: 200;
    margin: 0;
  }
  .inputsContainer input{
    padding: 1vh;
    margin: 0;
  }
  .paswwordSection {
      justify-content: space-between;
  }
  .paswwordSection span{
    font-weight: 300;
    font-size: 4vw;
    color: rgba(7, 4, 0, 0.719);
}
.paswwordSection label{
    font-size: 4vw;

}
 
.loginButton{
  
    width: 70%;
    margin: 0 auto;
}
  .googleButton{
 
    cursor: pointer;
    font-size: 4vw;
   
   }
   .Registerbutton{
    height: 12%;
   
    font-size: 5vw;
   }
}
@media (max-width:375px){
 .secondContainer{
    height: fit-content
  
 }

}